* {
  margin: 0;
  color: white;
  text-shadow: 0px 0px 20px #aaaaaa;
  font-family: Arial, Helvetica, sans-serif;
}
/*
body {
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
*/
body {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-div {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  align-items: center;
}

.time {
  text-align: center;
}

.time h1 {
  font-size: 450%;
}

.dogecoin {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dogecoin img {
  padding-right: 0.5rem;
}

.dogecoinInfo ul {
  list-style-type: none;
  padding: 0;
  padding-top: 0.5rem;
}
